<link rel="stylesheet" href="/css/_header.css">

<header>


    <div class="outer">
        <span class="head"><a href="/">Habit Tracker</a></span>
    <div class="inner">

    <ul>

            <li><a href="/">Home</a></li>
            <li><a href="/weekView">Week View</a></li>

    </ul>

    </div>
    </div>

   
</header>